<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../../static/favicon.ico" th:href="@{/favicon.ico}">
    <link rel="stylesheet" href="../../static/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="../../static/css/footer.css" th:href="@{/css/footer.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../static/js/footer.js" th:src="@{/js/footer.js}"></script>
    <title>User Added</title>
</head>
<body>
<header>
    <div th:replace="Navigation :: NavigationBar">
        <ul class="navigation-bar">
            <li>
                <a th:href="@{/index}" href="Index.html">Home</a>
            </li>
        </ul>
    </div>
    <h1>User Added</h1>
</header>
<main>
    <p class="message">
        The new <span th:text="${role}">user</span> account
        <span th:text="${login}" class="user">simpson</span> has been added.
    </p>
    <p>
        <a th:href="@{list-users}" href="ListUsers.html">List Users</a>
    </p>
</main>
</body>
</html>
