<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../../static/favicon.ico" th:href="@{/favicon.ico}">
    <link rel="stylesheet" href="../../static/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="../../static/css/footer.css" th:href="@{/css/footer.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../static/js/footer.js" th:src="@{/js/footer.js}"></script>
    <title>Delete Record</title>
</head>
<body>
<header>
    <div th:replace="~{Navigation :: NavigationBar}">
        <ul class="navigation-bar">
            <li>
                <a th:href="@{/index}" href="../Index.html">Home</a>
            </li>
        </ul>
    </div>
    <h1>Delete Record</h1>
</header>
<main>
    <p class="message">Do you really want to remove this record?</p>
    <div th:object="${student}">
        <h2>Student Record</h2>
        <p>
            <label class="output-label">First Name:</label>
            <span th:text="*{firstName}" class="output">Bart</span>
        </p>
        <p>
            <label class="output-label">Last Name:</label>
            <span th:text="*{lastName}" class="output">Simpson</span>
        </p>
        <p>
            <label class="output-label">Program:</label>
            <span th:text="*{programName}" class="output">Computer Programmer</span>
        </p>
        <p>
            <label class="output-label">Year:</label>
            <span th:text="*{programYear}" class="output">1</span>
        </p>
        <p>
            <label class="output-label">Co-op:</label>
            <span th:text="*{programCoop}?'yes':'no'" class="output">yes</span>
        </p>
        <p>
            <label class="output-label">Internship:</label>
            <span th:text="*{programInternship}?'yes':'no'" class="output">no</span>
        </p>

            <form method="post" th:action="@{remove-student}" action="ListStudents.html" >
                <input type="hidden" name="id" th:value="*{id}">
                <input type="submit" value="Remove Record">
            </form>
        <p>
            <a th:href="@{list-students}" href="ListStudents.html">List Students</a>
        </p>
    </div>
</main>
</body>
</html>
