<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../../static/favicon.ico" th:href="@{/favicon.ico}">
    <link rel="stylesheet" href="../../static/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="../../static/css/footer.css" th:href="@{/css/footer.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../static/js/footer.js" th:src="@{/js/footer.js}"></script>
    <title>List All</title>
</head>
<body>
<header>
    <div th:replace="~{Navigation :: NavigationBar}">
        <ul class="navigation-bar">
            <li>
                <a th:href="@{/index}" href="../Index.html">Home</a>
            </li>
        </ul>
    </div>
    <h1>Student List</h1>
</header>
<main>
    <p th:if="${#lists.isEmpty(students)}" class="message">No student data</p>
    <table th:unless="${#lists.isEmpty(students)}">
        <tr>
            <th>Count</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Options</th>
        </tr>
        <tr th:each="s,c: ${students}">
            <td th:text="${c.count}">1</td>

            <td th:text="${s.firstName}">Bart</td>
            <td th:text="${s.lastName}">Simpson</td>
            <td>
                <a href="StudentDetails.html" th:href="@{student-details/{id}(id=${s.id})}">Details</a>
                <span sec:authorize="hasRole('ADMIN')">
                &nbsp;|&nbsp;
                <a href="EditStudent.html" th:href="@{edit-student(id=${s.id})}">Edit</a>
                &nbsp;|&nbsp;
                <a href="DeleteStudent.html" th:href="@{delete-student(id=${s.id})}">Delete</a>
                </span>
            </td>
        </tr>
        <!--/*-->
        <tr>
            <td>2</td>
            <td>Lisa</td>
            <td>Simpson</td>
            <td>
                <a href="StudentDetails.html">Details</a>
                &nbsp;|&nbsp;
                <a href="EditStudent.html">Edit</a>
                &nbsp;|&nbsp;
                <a href="DeleteStudent.html">Delete</a>
            </td>
        </tr>
        <!--*/-->
    </table>
    <ul sec:authorize="hasRole('ADMIN')">
        <li>
            <a href="AddStudent.html" th:href="@{add-student}">Add Student</a></li>
        <li>
            <a href="ListStudents.html" th:href="@{delete-all}">Delete All</a>
        </li>
    </ul>
</main>
</body>
</html>
